<h1 class="mat-h1 text-yellow-500 text-center">
  Cel mai bun Mos Craciun de inchiriat este la noi!
</h1>
<p class="mat-body text-yellow-500">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Din vremuri străbune, Moș Crăciun aduce un plus
  de farmec Crăciunului, mai ales pentru cei mici. Pentru că iubim copiii și ne
  place să-i vedem fericiți, de câțiva ani buni îl punem pe Moș Crăciun la
  treabă în fiecare an, îi dilatăm timpul și îi facem loc în agendă pentru
  vizite in casele copiilor cuminti. Se știe că Moșul are la dispoziție o
  singură noapte pentru a livra personal cadourile de Crăciun tuturor copiilor
  și adulților din întreaga lume, așa că nu-i lucru ușor să stea câte o jumatăte
  de oră sau o oră la fiecare prichindel. În fiecare an, la început de
  decembrie, îi curățăm Moșului hainele de praful de pe horn, îi lustruim
  ghetele, îi cizelăm barba și pletele dalbe și îl pregătim cum se cuvine pentru
  întâlnirile cu voi, cei mai mari iubitori de Crăciun, cadouri și surprize! Ne
  ocupăm îndeaproape și de Spiriduși, ajutoarele lui Moș Crăciun! Deși ei sunt
  și ajutoarele noastre și se asigură că Moșul nu se dezechilibrează pe scările
  presărate cu stele de gheată și îi mai țin de sacul greu, pentru ca sarcina
  să-i fie mai ușoară, dar acesta să rămână secretul nostru, vă rugăm! Nu vrem
  ca Moșul să creadă că nu avem încredere în el că s-ar descurca și singur. Dar
  gata cu poveștile! E târziu și agenda Moșului se umple văzând cu ochii! Ți-ai
  rezervat o întâlnire cu Moș Crăciun? Dacă nu, e momentul să o faci, căci
  timpul nu stă în loc, iar o așa întâlnire nu trebuie ratată!
</p>
<p class="mat-h2 text-yellow-500">
  Va oferim un serviciu de inchiriere Mos Craciun inclusiv pentru ziua de
  nastere !
</p>
<p class="mat-body text-yellow-500">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un Mos Craciun realist nu este doar unul care
  vine la copii de Craciun sau de sarbatorile de iarna. Daca copilul tau il
  iubeste pe Mos Craciun si tot ce inseamna aceste sarbatori, atunci ia in
  considerare oferta noastra de inchiriere Mos Craciun realist pentru o
  petrecere la ziua de nastere a unui copil. Chiar aici, la noi, sunt adevarati
  performeri care se specializeaza in toate tipurile de evenimente, de la
  petreceri de vacanta la petreceri prilejuite de ziua de nastere. La noi, esti
  mereu pe maini bune si poti gasi cei mai buni actori Mos Craciun. Noi avem o
  selectie larga de interpreti realisti ai lui Mos Craciun in oferta de
  inchiriere Mos Craciun, totul pentru a va face aceasta sarbatoare a zilei de
  nastere una mai frumoasa ca niciodata. Mos Craciunul nostru va aduce bucurie
  pe chipul celor mici si distractie tuturor celor prezenti. Copilul tau va avea
  ocazia sa-l intalneasca pe Mos Craciun cu adevarat. Voi, ca parinti, veti avea
  sansa de a vedea cum zambetul lor este adusa pe chipul copiilor de Mos
  Craciun, iar petrecerea pe care o veti da va fi mai mare si mai buna ca
  niciodata.
</p>
<p class="mat-h2 text-yellow-500">
  De unde a aparut Mos Craciun si unde poti inchiria unul?
</p>
<p class="mat-body text-yellow-500">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Omul pe care il cunoastem ca Mos Craciun are o
  istorie indelungata. Astazi, este vazut mai ales ca omul vesel in rosu, dar
  povestea lui se intinde pana in secolul al III-lea. Acum, atat adultii cat si
  copiii pot afla mai multe despre istoria lui Mos Craciun, de la primele sale
  aparitii pana la imaginea de azi a darnicului batranel ce poate fi gasit si
  pentru inchiriere Mos Craciun la unele petreceri. Legenda lui Mos Craciun isi
  are originea acum cateva sute de ani in persoana unui calugar pe nume Sf.
  Nicolae. Se crede ca Nicolae s-a nascut candva in jurul anului 280 era noastra
  in Patara, langa Myra, in Turcia moderna. Mult admirat pentru evlavia si
  bunatatea sa, Sfantul Nicolae a devenit subiectul multor legende. Se spune ca
  a cedat toata averea mostenita si a calatorit in tara ajutand saracii si
  bolnavii. Una dintre cele mai cunoscute povesti ale Sfantului Nicolae este ca
  a salvat trei surori sarace de la a fi vandute in sclavie sau prostitutie de
  catre tatal lor, oferindu-le o zestre, astfel incat sa poata fi casatorite.
  De-a lungul mai multor ani, popularitatea lui Nicholas s-a raspandit si a
  devenit cunoscut ca protectorul copiilor si marinarilor. De fapt, el este
  sarbatorit la aniversarea mortii sale, 6 decembrie. Aceasta a fost considerata
  in mod traditional o zi norocoasa pentru a face cumparaturi mari sau pentru a
  va casatori. In Renastere, Sfantul Nicolae a fost cel mai popular sfant din
  Europa. Chiar si dupa Reforma protestanta, cand venerarea sfintilor a inceput
  sa fie descurajata, Sfantul Nicolae si-a mentinut o reputatie foarte buna, mai
  ales in Olanda.
</p>
<p class="mat-h2 text-yellow-500">
  Evolutia lui Mos Craciun in cultura pana la un Mos Craciun inchiriat din ziua
  de azi!
</p>
<p class="mat-body text-yellow-500">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Personajul lui Mos Craciun a evoluat mult de-a
  lungul timpului. Asupra lui s-au exercitat numeroase influente, iar personajul
  a fost schimbat mult de-a lungul timpului. Acum, poti gasi un Mos Craciun
  inchiriat la multe petreceri de familie sau chiar la unele corporate. Fiecare
  insa este diferit, avand o recuzita diferita. Insa, e bine de stiut ca la
  originea lui este Sfantul Nicolae. El, sub aceasta forma a ajuns in cultura
  noastra de la americani. Acolo, a facut primele sale incursiuni in cultura
  populara americana spre sfarsitul secolului XVIII. In decembrie 1773, si din
  nou in 1774, un ziar din New York scria pentru prima data despre acest obicei.
  Numele Mos Craciun a evoluat din numele olandez al lui Nicolae, Sinter Klaas,
  o forma scurtata de Sint Nikolaas (numele olandez pentru Sfantul Nicolae). In
  1804, apareau si alte elemente ale impunerii figurii sale in cultura
  americana. De exemplu, pe fundalul unei gravuri erau prezente imagini cu Mos
  Craciun, inclusiv ciorapi umpluti cu jucarii si fructe, toti atarnati peste un
  semineu. In 1809, Washington Irving a ajutat la popularizarea povestilor lui
  Sinter Klaas atunci cand s-a referit la Sfantul Nicolae drept patronul New
  York-ului in cartea sa, “The History of New York”. Pe masura ce proeminenta
  lui crestea, Sinter Klaas a fost descris ca fiind totul o persoana cu o
  palarie albastra cu trei colturi, vesta rosie si ciorapi galbeni, iar ulterior
  s-a ajuns la descierea unui barbat care purta o palarie cu margini largi si
  costumatie flamanda. Bineinteles, acum, cand gasim un Mos Craciun inchiriat
  oriunde, nu mai avem aceasta imagine a sa. Cadourile, daruite in special
  copiilor, au fost o parte importanta a sarbatorii de Craciun de la
  reinventarea sarbatorilor de iarna, eveniment petrecut la inceputul secolului
  al XIX-lea. Magazinele au inceput sa faca reclama pentru cumparaturile de
  Craciun prin 1820, iar pana in anii 1840, ziarele aveau chiar sectiuni
  separate pentru reclame de vacanta, care prezentau deseori imagini ale noului
  Mos Craciun inchiriat uneori de oameni. Atunci, copiii se inghesuiau in
  magazine pentru a vedea un model de Mos Craciun la dimensiune reala. A fost
  doar o chestiune de timp inainte ca magazinele sa inceapa sa atraga copiii
  prin acets metode de marketing, iar parintii lor au fost astfel nevoiti sa le
  cumpere cadouri din aceste magazine.
</p>
<p class="mat-h2 text-yellow-500">
  Cum s-a ajuns la inchirieri Mos Craciun si cine inchiriaza Mos Craciun in ziua
  de azi
</p>
<p class="mat-body text-yellow-500">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Daca in trecut, Mos Craciun avea mai mult o
  semnificatie religioasa, acest lucru nu mai este valabil si azi. S-a ajuns la
  echivalarea lui cu imaginea cuiva care doar aduce cadouri celor mici si
  insufleteste orice petrecere de Craciun, fie in locuinte individuale, fie in
  mall-uri sau companii. Acum, multi oameni inchiriaza Mos Craciun doar pentru
  distractie si apeleaza la aceste servicii de inchirieri Mos Craciun pentru a
  le oferi in special copiilor sansa de a-l vedea in realitate. Imaginea lui Mos
  Craciun a fost popularizata prin televiziuni, filme si carti de povesti pentru
  copii. In timp ce unora nu le place ideea de a da cadouri de Craciun,
  considerand ca sarbatorile fastuoase nu sunt in conformitate cu credinta lor
  sau ca Mosul a devenit un simbol al materialismului, altii cred ca oferind
  cadouri ei continua sa onoreze viata si faptele Sfantului Nicolae, un indragit
  sfant venerat ca ocrotitor si ajutor al celor care sunt in nevoie. O legenda
  urbana despre Mos Craciun spune ca acest costum rosu al lui Mos Craciun a fost
  proiectat de Coca-Cola si ca aceatsa companie ar putea chiar sa-l „detina” pe
  celebrul Mos! Cu siguranta, acest lucru este fals. Cu mult inainte de a fi
  inventata aceatsa imagine moderna a sa, Sfantul Nicolae a purtat hainele rosii
  respective si a fost ipostaziat astfel in icoane. In perioada victoriana si
  inainte de aceasta, el a purtat o serie de culori (rosu, verde, albastru si
  maro), dar rosul a fost intotdeauna culoarea care a predominat. In 1931,
  Compania Coca-Cola a decis ca vrea sa-si creasca vanzarile catre copii. Legea
  la acea vreme nu a permis reclame care sa arate copii care beau Coca-Cola.
  Atunci, ei au prezentat un Mos Craciun mai prietenos, relaxati si prietenos
  catre copii? Artistul Haddon Sundblom a fost desemnat sa creeze un nou Mos,
  mai comercial. Sundblom a venit cu un Mos mai mare, vesel, in binecunoscutul
  costum rosu aprins, cu blana alba pe el (acestea fiind acum cunoscute drept
  culorile Coca-Cola). In prezent, numeroase firme inchiriaza Mos Craciun pentru
  petrecerile lor organizate in preajma sarbatorilor de iarna. Copiii se bucura
  de cadouri si ii spun poezii Mosului, cel care ii recompenseaza cu daruri
  multe, jucarii si dulciuri. Serviciul de inchirieri Mos Craciun este acum
  disponibil oricand cineva doreste sa organizeze o petrecere de pomina cu cat
  mai multi invitati. Oamenii apeleaza la noi pentru inchirieri Mos Craciun
  deoarece vor sa aiba un personaj cat mai apropiat de realitate, care sa stie
  ce sa le spuna copiilor si sa se comporte ireprosabil cu ei. Copiii sunt
  fascinati de el, iar aceasta vraja nu trebuie sa se spulbere. Depinde mult de
  persoana care il interpreteaza felul in care cei mici il percep pe Mos
  Craciun. Parintii le vor face o mare bucurie cand vor aduce un astfel de Mos
  la petrecerea lor. Fie ca sunt la gradinita sau in clasele primare, cei mici
  se vor bucura foarte mult de prezenta lui si il vor astepta la fiecare
  sarbatoare cu mult drag si nerabdare. Daca doriti sa inchiriati un Mos Craciun
  de la noi, va putem oferi mai multe detalii la telefon, prin e-mail sau intr-o
  intalnire directa.
</p>
