<div class="grid grid-cols-12 gap-1">
  <div class="col-span-8">
    <h1 class="mat-display-1 text-yellow-500 text-center">Povestea noastră</h1>
    <p class="mat-body text-yellow-500">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An de an, copii cuminți din toate colțurile
      lumii se pregătesc să îi scrie cea mai frumoasă și migăloasă scrisoare lui
      Moș Crăciun pentru a se asigura că dorințele lor vor fi îndeplinite de
      acesta și totodată, în ei se naște speranța că îl vor cunoaște personal și
      vor petrece momente magice împreună. Dorințele celor mici cresc cu ocazia
      fiecarui Craciun și odată cu ele emoțiile, inocența și veselia de a-l avea
      în preajmă în seara de Ajun pe cel mai darnic om, bătrânul Moș Crăciun. În
      cinstea sărbătorilor sezonului rece, Moș Crăciun vine când nu te aștepți,
      încărcat cu multe cadouri și cu răbdare pentru a ascultă poveștile celor
      mici. El străbate orașe întregi, străzi pline cu nămeți albi asternuti că
      o pătură albă frumos strălucitoare pentru a fi alături de cei mai
      drăgălași copii, unde vor crea împreună magia sărbătorilor de iarnă.
      Coborârea pe hornul sobei, venirea cu sania trasă de reni zburători și
      costumul roșu imaculat sunt doar o parte din tot alaiul de lucruri care se
      știu despre Moș Crăciun. Legenda minunată prinde viață o dată cu prezența
      Moșului care le transformă micuților sărbătorile de iarnă în cea mai
      memorabilia amintire. Fiecare noapte de decembrie aduce cu ea nerăbdarea
      și entuziasmul Crăciunului, dar și dorința nemărginită de a opri timpul și
      de a trăi alături de Moș Crăciun și spiridușii acestuia cele mai frumoase
      clipe. Apelează la serviciile noastre și închiriază un Moș Crăciun cu
      barbă naturală care va sosi fără întârziere la petrecerea firmei, la
      serbarea copilului sau chiar la tine acasă. Oferă șansa celor din familie,
      prietenilor, dar mai ales celor mici, să petreacă un Crăciun ca în basme
      alături de cel mai bărbos Moș Crăciun. Moș Crăciun iți urează seri magice,
      cu sunet de colinde, parfum de scorțișoară și râsete de copii!
    </p>
  </div>
  <div class="col-span-4">
    <img class="scale-50" src="../../../assets/images/santaclause.gif" />
  </div>
</div>
